/*style css*/

body{
	background-image:url("../images/groenland.jpg");
	background-size:100%;
	background-attachment:fixed;
}

header, footer, footer .panel{
	background-color:rgba(139,255,248,0.7);
}

[class*="col-"], #page{
/*	border-style:solid;
	border-color:yellow;
	border-width:5px;
	border-radius:2px;*/
	text-align: center;
	color:white;
	font-weight:bold;
}

#page{
	padding-bottom:50px;
	background-color:blue;
	background-color:rgba(75,0,130,0.6);
}

h1{
	color:#05266F;
}

h1, h2, h3 {
	font-family:"Times New Roman";
}

p {
	font-family:"Times New Roman";
	font-size:medium;
	color:white;
}

footer p{
	color:#05266F;
}

#menu-titre, #carte-titre{
	border-style:solid;
	border-color:white;
	border-radius:2px;
	border-width:1px;
}

.vert-offset-top-10 {
	margin-top:10em;
}

.vert-offset-top-5 {
	margin-top:5em;
}

.vert-offset-top-3 {
	margin-top:3em;
}

.vert-offset-top-2 {
	margin-top:2em;
}

.vert-offset-top-1 {
	margin-top:1em;
}

/****************************** page accueil ***********************/

#page nav {
	background-color:rgba(139,255,248,0.7);
}

.sous-nav ul{
	background-color:rgba(139,255,248,0.7);
}

ul li .list-group-item {
	background-color:#05266F;
}

ul li .list-group-item:hover {
	background-color:#00E6FF;
}

/* carte SVG */

object {
	margin-top:50px;
}

#carte{
	overflow:scroll;
}

#carte h1{
	color:white;
}

.nom-region{
	display:none;
}

/*
#QA{
	display:block;
}
*/

/****************************** page voyages ***********************/

section{
	padding-bottom:20px;
}

small{
	margin-top:15px;
	background-color:rgba(245,245,245,0.7);
}

em{
	font-family:"Times New Roman";
}

.btn {
	font-size:large;
	border-color:white;
	border-width:2px;
}